@use '../../../styles/common/variables' as *;

.navbar {
  width: 82px;
  height: 100vh;
  background-color: $COLOR-BRAND-PRIMARY;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;

  // &:hover {
  //   width: 279px;
  //   box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.25);
  //   transition: all 200ms ease-out;
  // }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 8px;
  }
}

.nav-user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.nav-user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100;
  background-color: $COLOR-AVATAR-BG;
  color: $COLOR-AVATAR-FONT;
}
