@use '../../../styles/common/variables' as *;

.navbar {
  height: 100vh;
  width: 5.25rem;
  padding: 0 1rem;
  background-color: $COLOR-BRAND-PRIMARY;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;
}

.open {
  width: 12rem;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.nav-user-actions {
  // width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
}

.nav-user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: $COLOR-AVATAR-BG;
  color: $COLOR-AVATAR-FONT;
}
