@use '../../../styles/common/variables' as *;

.button {
  font-family: 'Inter';
  font-weight: 500;
  height: 1.25rem;
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 0.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg {
    padding-right: 0.5rem;
  }
}

.primary {
  background-color: $COLOR-BRAND-PRIMARY;
  color: $COLOR-NAV-ICON;
  transition: all 200ms linear;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $COLOR-NAV-ICON-SELECTED-BG;
    color: $COLOR-NAV-ICON-SELECTED;
    transition: all 200ms linear;
  }
}

.destructive {
  background-color: $COLOR-BRAND-DESTRUCTIVE;
}

/*
.icon-only {
  width: 1.5rem;
}

.label-only {
  width: 10rem;
}

.icon-label {
  width: 10rem;
  padding-left: 1.5rem;
  justify-content: flex-start;
}
*/
