@use '../../../styles/common/variables' as *;

.btn-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: $COLOR-BRAND-PRIMARY;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  transition: background-color 200ms linear;

  .btn-icon {
    width: 20px;
    height: 20px;
    stroke: $COLOR-NAV-ICON;
  }

  &:hover,
  &:focus {
    background-color: $COLOR-NAV-ICON-SELECTED-BG;
    transition: background-color 200ms linear;
    cursor: pointer;
  }
}
