@use '../../../styles/common/variables' as *;

.btn-primary {
  height: 48px;
  width: 48px;
  border-radius: 6px;
  background-color: $COLOR-BRAND-PRIMARY;
  color: $COLOR-NAV-ICON;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms linear;

  .btn-icon-only {
  }

  .btn-label-only {
  }

  .btn-icon-label {
    width: 100%;
    padding-left: 15px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $COLOR-NAV-ICON-SELECTED-BG;
    color: $COLOR-NAV-ICON-SELECTED;
    transition: all 200ms linear;
  }
}

.btn-destructive {
  // background-color: red;
}
