@use '../../../styles/common/variables' as *;

.navbar {
  width: 82px;
  height: 100vh;
  background-color: $COLOR-BRAND-PRIMARY;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.nav-user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24;
}

.nav-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: $COLOR-BRAND-PRIMARY;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  transition: background-color 200ms linear;

  .nav-icon {
    width: 20px;
    height: 20px;
    stroke: $COLOR-LIGHT-PURPLE;
  }

  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 100;
    background-color: $COLOR-OFF-WHITE;
    color: $COLOR-MEDIUM-PURPLE;
  }

  &:hover {
    background-color: $COLOR-DARK-PURPLE;
    transition: background-color 200ms linear;
  }
}
