$COLOR-BRAND-PRIMARY: #6941c6;
$COLOR-BRAND-DESTRUCTIVE: #d92d20;
$COLOR-NAV-ICON: #d6bbfb;
$COLOR-NAV-ICON-SELECTED: #ffffff;
$COLOR-NAV-ICON-SELECTED-BG: #53389e;
$COLOR-AVATAR-FONT: #7f56d9;
$COLOR-AVATAR-BG: #f9f5ff;
