$COLOR-BRAND-PRIMARY: #6941c6;
$COLOR-WHITE: #ffffff;
$COLOR-OFF-WHITE: #f9f5ff;
$COLOR-OFF-WHITE-2: #f9fafb;
$COLOR-DARK-GREY: #a9a9a9;
$COLOR-LIGHT-PURPLE: #d6bbfb;
$COLOR-MEDIUM-PURPLE: #7f56d9;
$COLOR-DARK-PURPLE: #53389e;

$COLOR-BORDER: #eaecf0;
$BORDER-PRIMARY: 1px solid $COLOR-BORDER;

$BOX-SHADOW-PRIMARY: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
